<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">상점 등록</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- 기초정보 -->
          <div class="col-lg-8">
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">기초정보</h3>
              </div>
              <div class="box-body">
                <div class="form-horizontal">
                  <div class="form-group">

                    <label for="inputEmail3" class="col-sm-3 control-label">비밀번호</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>

                  </div>

                  <div class="form-group">

                    <div class="col-sm-3">
                    </div>
                    <div class="radio col-sm-2">
                      <label>
                        <input class="minimal-red" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        개인
                      </label>
                    </div>
                    <div class="radio col-sm-2">
                      <label>
                        <input class="minimal-red" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        법인
                      </label>
                    </div>

                  </div>

                  <div class="form-group">

                    <label for="inputEmail3" class="col-sm-3 control-label">사업자번호</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>

                    <label for="inputEmail3" class="col-sm-3 control-label">법인번호</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>

                  </div>

                  <div class="form-group">

                    <label for="inputEmail3" class="col-sm-3 control-label">상호</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>

                    <label for="inputEmail3" class="col-sm-3 control-label">개업일자</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>

                  </div>

                  <div class="form-group">

                    <label for="inputEmail3" class="col-sm-3 control-label">대표자</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>

                    <label for="inputEmail3" class="col-sm-3 control-label">생년월일</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>

                  </div>

                  <div class="form-group">

                    <label for="inputEmail3" class="col-sm-3 control-label">업태</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>

                    <label for="inputEmail3" class="col-sm-3 control-label">업종</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>

                  </div>

                  <div class="form-group">

                    <label for="inputEmail3" class="col-sm-3 control-label">연락처</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>

                    <label for="inputEmail3" class="col-sm-3 control-label">핸드폰</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>

                  </div>

                  <div class="form-group">

                    <label for="inputEmail3" class="col-sm-3 control-label">사업장주소</label>
                    <div class="col-sm-9">
                      <div class="input-group input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-sm btn-info btn-flat">검색</button>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">

                    <label for="inputEmail3" class="col-sm-3 control-label">본사주소</label>
                    <div class="col-sm-9">
                      <div class="input-group input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-sm btn-info btn-flat">검색</button>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">

                    <label for="inputEmail3" class="col-sm-3 control-label">포인트</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>
                    <div class="col-sm-3">
                      <button type="button" class="btn btn-sm btn-info">충전</button>
                      <button type="button" class="btn btn-sm btn-info">차감</button>
                    </div>
                  </div>

                  <div class="form-group">

                    <label for="inputEmail3" class="col-sm-3 control-label">가상계좌</label>

                    <div class="col-sm-3">
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">경남</option>
                        <option>경기</option>
                        <option>아무</option>
                        <option>Delaware</option>
                        <option>Tennessee</option>
                        <option>Texas</option>
                        <option>Washington</option>
                      </select>
                    </div>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- 할증정보 -->
          <div class="col-lg-4">
            <div class="box box-solid">
              <div class="box-header with-border">
                <h4 class="box-title">할증정보</h4>
              </div>
              <div class="box-body">
                <div class="form-horizontal">

                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">눈</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>
                    <div class="col-sm-3">
                      <select class="form-control" style="width: 100%;">
                        <option selected="selected">%</option>
                        <option>원</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">비</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>
                    <div class="col-sm-3">
                      <select class="form-control" style="width: 100%;">
                        <option selected="selected">%</option>
                        <option>원</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">결빙</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>
                    <div class="col-sm-3">
                      <select class="form-control" style="width: 100%;">
                        <option selected="selected">%</option>
                        <option>원</option>
                      </select>
                    </div>
                  </div>

                </div>

              </div>
            </div>

            <!-- 요금설정 -->
            <div class="box box-solid">
              <div class="box-header with-border">
                <h4 class="box-title">요금설정</h4>
              </div>
              <div class="box-body">
                <div class="form-horizontal">

                  <div class="form-group">
                    <div class="radio col-sm-3">
                      <label>
                        <input class="minimal-red" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        거리
                      </label>
                    </div>
                    <div class="radio col-sm-2">
                      <label>
                        <input class="minimal-red" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        동
                      </label>
                    </div>
                  </div>

<div class="distance">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">시작</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>
                    <label for="inputEmail3" class="col-sm-3 control-label" style="text-align:left">km</label>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">죵료</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>
                    <label for="inputEmail3" class="col-sm-3 control-label" style="text-align:left">km</label>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">요금</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>
                    <div class="col-sm-3">
                      <select class="form-control" style="width: 100%;">
                        <option selected="selected">원</option>
                        <option>%</option>
                      </select>
                    </div>
                  </div>

                  <table id="dataTable1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>시작</th>
                        <th>종료</th>
                        <th>요금</th>
                      </tr>
                    </thead>
                  </table>
</div>

<div class="area">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">동</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">요금</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>
                    <div class="col-sm-3">
                      <select class="form-control" style="width: 100%;">
                        <option selected="selected">원</option>
                        <option>%</option>
                      </select>
                    </div>
                  </div>

                  <table id="dataTable2" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>동</th>
                        <th>요금</th>
                      </tr>
                    </thead>
                  </table>
</div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-info">등록</button>
          <button type="button" class="btn" data-dismiss="modal"> 취소</button>
        </div>
      </div>
    </div>
  </div>
  <script src="routes/sms/modal/regStore.js"></script>
